<div class="id">
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-6 mb-4">
      <div class="card near-moon-gradient form-white">
        <div class="card-body">
          <!-- Form subscription -->
          <form>
            <h3 class="text-center indigo-text font-bold py-4"><strong>Login</strong></h3>

            <div class="md-form">
              <i class="fa fa-user prefix white-text"></i>
              <input type="text"  #ClientId id="form35" placeholder="CLIENT_ID" class="form-control">
              
            </div>
            <div class="md-form">
              <i class="fa fa-envelope prefix white-text"></i>
              <input type="password" #PanNo  id="form25" placeholder="PAN_NO" class="form-control">
              
            </div>
            <div class="text-center py-4">
              <button class="btn btn-indigo" (click)="btnLoginClick(ClientId.value,PanNo.value)">Signin<i class="fa fa-paper-plane-o ml-1"></i></button>
             <h6> New User Register Here </h6> <a [routerLink]="['/register']">Register</a>
            </div>
          </form>
          <!-- Form subscription -->
        </div>
      </div>
    </div>
    </div>
  